$colors-p:RGB(230, 72, 60);
$colors-p2:RGB(230, 72, 40);
$colors-s:#00d97e;
$colors-w:#E6A23C;
$colors-d:#ff5252;
$colors-i:#909399;
$colors-b:#727CF5;
$colors-gainsboro:gainsboro;
$colors-back: #F2F0EF;