.SingerList {
    width: 100%;
    &-header {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        &-title {
            color: white;
            font-size: 0.8rem;
        }
    }
    .SingerList-section {
        width: 100%;
        padding-top: 60px;
        .SingerList-list {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            overflow: hidden;
            &-img {
                width: 55px;
                height: 55px;
                border-radius: 5px;
                margin-right: 15px;
            }
            &-name {
                width: 80%;
                height: 60px;
                line-height: 60px;
            }
        }
    }
}
