.Search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    .Input {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #C20C0C;
        display: flex;
        .iconfont {
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 25px;
            color: white;
        }
        .hasClose {
            position: relative;
            width: 100%;
            .iconfont {
                position: absolute;
                right: 10px;
                top: 0;
                font-size: 16px;
            }
            .input {
                display: block;
                width: 90%;
                height: 40px;
                line-height: 30px;
                color: white;
                border: none;
                outline: none;
                border-bottom: 1px solid white;
                background: #C20C0C;
                padding: 2px 10px 0;
                font-size: 16px;
                &::-webkit-input-placeholder{
                    color:gainsboro;
                }
                &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                    color:gainsboro;
                }
                &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                    color:gainsboro;
                }
                &:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                    color:gainsboro;
                }
            }
        }
        
    }
}