@import '../../../common/css/color.scss';
.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    span {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 0.7rem;
    }
    .active {
        position: relative;
        color: $colors-p;
        &::after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%,-50%);
            content: '';
            width: 50%;
            height: 2px;
            border-radius: 2px;
            background-color: $colors-p;
        }
    }
}