@import './common/css/color.scss';
.App {
    width: 100%;
    .app-header {
        width: 100%;
        height:60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .app-section {
        box-sizing: border-box;
        padding-top: 60px;
        width: 100%;
    }
    .app-footer {
      width: 100%;
      height: 60px;
      background-color: white;
      text-align: center;
      position: fixed;
      bottom: -1px;
      left: 0;
      z-index: 100;
  }
}
