body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: gainsboro; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.w-100 {
  width: 100%;
}
.flex {
  display: flex;
}
.around {
  display: flex;
  justify-content: space-around;
}
.between {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
}
.-center {
  align-items: center;
}
