@import '../../../common/css/color.scss';
.music {

    .music-header {
        width: 100%;
        position: relative;
        .header-red {
            width: 100%;
            height: 50px;
            background-color: $colors-p;
        }
        .header-white {
            width: 100%;
            height: 50px;
            background-color: white;
        }
        .mine {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%, 10px);
            width: 90%;
            height: 60px;
            padding: 5px;
            background-color: lightsalmon;
            border-radius: 10px;
        }
    }
    
}